*{ 
    padding: 0px;
    margin: 0px;
}
html{
    height: 100%;
}

body{
    font-family: 'Lato';
    height: 100%;
}
/*Inicio da estilização do Header*/


#content-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #E0E0E0;
    height: 60px;
    
}
.logo{
    width: 30px;
    height: 27.63px;
    margin-left: 30px;
    margin-top: 16px;
}
.text-menu{
    font-size: 20px;
    margin: auto;
}

#img-menu{
    margin-right: 20px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    position: absolute;
}

input[type="checkbox"]{
    display: none;
}
/*NAV está com display none pois não consegui mostrar ele quando ocultado*/
#nav{ 
    display: none;
    background-color: #333333;
    width: 351px;
    height: 100%;
    bottom: 60px;
    left:   60px;
    position: relative;
}



ul{
    position: absolute;
    top: 62px;
    width: 100%;
}

a{
    padding: 10px;
    display: block;
    text-align: end;
    color: white;
    font-size: 16px;
      
}
a:hover{
    background-color: #c4c4c4;
    color: #333333;
}

.label.one{
    padding: 10px;
    position: absolute;

    
}

#close{
    margin: 20px;
}


/*Inicio da estilização do form*/
.form{
    margin-top: 20px;
    margin-left: 20px;
}

#title{
    display: none;
}

fieldset{
    border: none;
}

#transaction, #merchandise, #price, #submit{
    width:100%;
    height: 28px;
    color: #c4c4c4;
    margin-top: 4px;
    max-width: 95%;
}

input, select{
    border: 1px solid #979797;
    background: none;
    border-radius: 3px;
}

#label-secundary, #label-two, #label-three{
    font-size: 14px;

}
.campo-1, .campo-2, .campo-3{
    margin-bottom: 15px;
}

#submit{
    margin-top: 10px;
    background-color: #333333;
    color: white;
}

hr{
    width:90%;
    margin-top: 10px;
    margin-left: 20px;

}

/*Inicio da 3º parte com tabelas*/

#box-table{
    margin-top: 40px;
}

.cab-table{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}


th{ margin-left: 30px;  
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: 22px;
}

th, td{  
    border-bottom: thin solid #979797;
}


tr{
    text-align: justify;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 20px;
    line-height: 2.5;
}

.price, .total{
    text-align: end;
}

.valor-1, .valor-2{
    text-align: center;
    left: 30px;
}

.valor-2{
    text-align: end;
    position: initial;
}

.none-line, .valor-2{
    border-bottom: none;
}
.border-double{
    border-bottom: double;
    border-color: #979797;
}

.tr-alt{
    letter-spacing: 0px;
    width: 50%;
    line-height: 40px;
}

.price{
    text-align: end;
    position: relative;
}

.price-text{
    position: relative;
    left: 0px;
    letter-spacing: 0px;
    line-height: 30px;
    text-align: justify;
    width: 50%
}

.lucro{
    text-align: end;
    font-size: 10px;
    margin-right: 30px;
    margin-top: -10px;
}

.footer{
    width: 100%;
    height: 8px;
    background-color: #333333;
    margin-top: 100%;
}

/*Inicio do responsivo 768px*/

@media (min-width:768px){


#title{
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    }

.form{
    width: 94%;
    height: 190px;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 27px;
    position: relative;
}

.grup{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.campo-1, .campo-3{
    width: 25%;
    margin-right: 20px;
}


.campo-2{
    width: 50%;
}

.botao{
    width: 200px;
    float: right;
    margin-right: 20px;
}

hr{
    display: none;
}

.table-one{
    width: 100%;
    height: 281px;
}

.valor-1{
    text-align:end;
    left: 0px;
}

.lucro{
    right: 7px;
    position: relative;
}

table{
    margin-left: 40px;
}
}

/*Inicio do responsivo do 1112px*/

@media (min-width:1112px){
    #complete-box{
        display: flex;
    }


    .grup{
        display: flex;
        flex-direction: column;
    }

    section{
        width: 100%;
    }

    .form{
        width: 70%;
        height: 344px;
    }


    .campo-1, .campo-2, .campo-3{
        width: 100%;
        margin-left: -6px;
    }
    .botao{
        width: 93%;
    }
    .cab-table {
        margin-left: 190px;
    }

    .lucro{
        left: 168px;

    }
    table{
        width: 115%;
    }
    #submit{
        margin-left: 17px;
    }

    .table-one{
        width: 100%;
        margin-left: -170px;
    }

    .text-menu{
        margin-left: 20px;
    }

    #nav{
        display: flex;
        background-color: none;
        width: 100%;
        height: 100%;
    }
    
    #img-menu{
        display: none;
    }

    a{
        color: #333333;
        font-size: 16px;
    }
    #close{
        display: none;
    }
    
}