*{ 
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Lato';

}

#content-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #E0E0E0;
    height: 60px;
    
}
.logo{
    width: 30px;
    height: 27.63px;
    margin-left: 20px;
    margin-top: 12px;
}
.text-menu{
    font-size: 20px;
    margin: auto;
}

#img-menu{
    margin-right: 20px;
    margin-top: 15px;
}